Adam Ginsburg     <keflavich@gmail.com>
Adrian Damian     <adrian.damian@nrc.ca> <Adrian.Damian@nrc.ca>
Adrian Damian     <adrian.damian@nrc.ca> <andamian@gmail.com>
Brigitta Sipőcz   <bsipocz@gmail.com>
Brigitta Sipőcz   <bsipocz@gmail.com> <b.sipocz@gmail.com>
Christine Banek   <cbanek@lsst.org> <cbanek@gmail.com>
Chuanming Mao     <myosotis.mao@gmail.com>
Chuanming Mao     <myosotis.mao@gmail.com> <113032306+ChuanmingMao@users.noreply.github.com>
Dustin Jenkins    <djenkins.cadc@gmail.com> <at88mph@users.noreply.github.com>
Hugo van Kemenade <hugovk@users.noreply.github.com>
Markus Demleitner <m@tfiu.de>
Pey Lian Lim      <2090236+pllim@users.noreply.github.com>
Ray Plante        <rplante@ncsa.uiuc.edu> <rplante@ncsa.illinois.edu>
Ray Plante        <rplante@ncsa.uiuc.edu> <raymond.plante@nist.gov>
Stefan Becker     <ich@funbaker.de> <funbaker@users.noreply.github.com>
Tess Jaffe        <trjaffe@gmail.com>
Theresa Dower     <dower@stsci.edu>
Tim Jenness       <tjenness@lsst.org> <tim.jenness@gmail.com>
Tom Donaldson     <tdonaldson@stsci.edu>
