include README.rst
include CHANGES.rst
include LICENSE.rst

include setup.cfg
include pyproject.toml

recursive-include pyvo *py
recursive-include docs *
recursive-include licenses *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
