# This test job is separated out into its own workflow to be able to trigger separately
name: CI-devtest

on:
  push:
    branches:
    - main
    - 'v*'
    tags:
    - '*'
  pull_request:
  schedule:
    - cron: "0 3 * * 6"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  devdeps:
    runs-on: ubuntu-latest
    name: linux (3.13 py313-test-devdeps-alldeps-cov)
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Set up Python 3.13
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: "3.13"
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: Run tests against dev dependencies
        run: tox -e py313-test-devdeps-alldeps-cov

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        with:
          file: ./coverage.xml
          verbose: true

  py314:
    runs-on: ubuntu-latest
    name: linux (3.14 py314-test)
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - name: Set up Python 3.14
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: "3.14-dev"
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: Run tests
        run: tox -e py314-test
