# Developer version testing is in separate workflow
name: CI

on:
  push:
    branches:
    - main
    - 'v*'
    tags:
    - '*'
  pull_request:
  schedule:
    - cron: "0 3 * * 6"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: py38 oldest dependencies, Linux
            python-version: '3.8'
            tox_env: py38-test-oldestdeps-alldeps
          - name: py39 mandatory dependencies only, Linux
            python-version: '3.9'
            tox_env: py39-test
          - name: py311 with online tests, Linux
            python-version: '3.11'
            tox_env: py311-test-alldeps-online

    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install tox
      run: python -m pip install --upgrade tox
    - name: Install library dependencies and run Tests
      run: tox -e ${{ matrix.tox_env }}

  mac_windows:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} py310
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
      with:
        python-version: '3.10'
    - name: Install tox
      run: python -m pip install --upgrade tox
    - name: Python 3.10 with latest astropy
      run: tox -e py310-test-alldeps


  stylecheck:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - name: Set up Python 3.8
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
        with:
          python-version: 3.8
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: Check codestyle
        run: tox -e codestyle

  linkcheck:
    if: github.event_name == 'schedule' && github.repository == 'astropy/pyvo'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
      - name: Set up Python 3.10
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38  # v5.4.0
        with:
          python-version: '3.10'
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: Check docs links
        run: tox -e linkcheck
