name: CI

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:
  schedule:
    - cron: "0 3 * * *"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        include:
          - name: py38 oldest dependencies, Linux
            python-version: '3.8'
            tox_env: py38-test-oldestdeps-alldeps
          - name: py39 mandatory dependencies only, Linux
            python-version: '3.9'
            tox_env: py39-test
          - name: py310 with online tests, Linux
            python-version: '3.10'
            tox_env: py310-test-alldeps-online

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install tox
      run: python -m pip install --upgrade tox
    - name: Install library dependencies and run Tests
      run: tox -e ${{ matrix.tox_env }}

  mac_windows:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}
    needs: tests
    strategy:
      fail-fast: true
      matrix:
        os: [macos-latest, windows-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install tox
      run: python -m pip install --upgrade tox
    - name: Python 3.9 with latest astropy
      run: tox -e py39-test-alldeps


  stylecheck:
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: Check codestyle
        run: tox -e codestyle


  devdeps:
    # TODO: this job should be allowed to fail except that the functionality
    # is not available in actions yet.
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install tox
        run: python -m pip install --upgrade tox
      - name: Run tests against dev dependencies
        run: tox -e py310-test-devdeps-alldeps-cov

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage.xml
          verbose: true
